<h1>All <%=current_user.name %>'s Investments </h1>
<% @client.investments.each do |investment| %>
  <li><%= link_to "#{investment.name}", client_investment_path(@client, investment) %></li>
  
<% end %>





