<% if logged_in? %>
<h1>Hi, <%= current_user.name %> </h1>
<h2>Here are your current clients: </h2>
<% @user.clients.each do |client| %>
    <%= link_to client.name, client_path(client) %> 
    <% end %>
<% end %>
