<h1>Clients</h1>
<style>
.content-loader table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  white-space: nowrap;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<body>
<table>
  <tr>
    <th>Client Name</th>
    <th>EIN</th>
  </tr>
  
<% @clients.each do |client| %>
  <tr>
  <td><%= link_to "#{client.name}", client_path(client) %></td>
  <td><%= client.ein %></td>
  </tr>
  
  <% end %>
</table><br>
<% if logged_in? %>
<%= link_to "Add a client", new_client_path %><br>
<%= link_to "Add an Investment", new_investment_path %><br>
<% end %>
</body>