<h1>Clients</h1>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<body>
<table>
  <tr>
    <th>Client Name</th>
    <th>EIN</th>
  </tr>
  
<% @clients.each do |client| %>
  <tr>
  <td><%= link_to "#{client.name}", client_path(client) %></td>
  <td><%= client.ein %></td>
  </tr>
  <% end %>
  
</table>
</body>