<h1>Client Info: </h1>
<p><%= @client.name %></p>
<p><%= @client.ein %></p>

<h2>Client's Investments</h2>
<% @client.investments.each do |investment|%> 
    <div><%= investment.name%></div>
    <% end %>